.control-panel {
  position: fixed;
  top: 10px;
  left: 10px;
  height: auto;
  max-height: 500px;
  min-width: 100px;
  z-index: 1000;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 16px;
}

.item-checkbox-img {
  margin-right: 4px;
  height: 14px;
  width: 14px;
}

.control-panel .buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dialog-text .demo-gif {
  text-align: center;
  margin: 10px 0;
}

.dialog-text .demo-gif img {
  width: 80%;
}

.control-panel label.disabled {
  opacity: 0.4;
}
