.control-panel {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 10px;
  left: 10px;
  height: auto;
  max-height: 500px;
  min-width: 100px;
  z-index: 1000;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0px #333;
  transition: max-height 0.3s;
  overflow: hidden;
}

.control-panel:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.control-panel.collapsed {
  max-height: 28px;
}

.control-panel-title,
.control-panel-subtitle {
  display: block;
  padding: 5px 0;
  font-weight: bold;
}

.control-panel-title {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-panel-subtitle {
  font-size: 12px;
}

.checkbox-group,
.checkbox-label,
.radio-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 16px;
}

.checkbox-label,
.radio-label,
.checkbox-label input[type="checkbox"],
.radio-label input[type="radio"] {
  cursor: pointer;
}

.control-panel input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin: 2px;
  margin-right: 4px;
}

.item-checkbox-img {
  margin-right: 2px;
}

.control-panel .buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.control-panel-button {
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: transparent;
}

.control-panel-button:hover {
  background-color: #ddd;
}

.control-panel-button:active {
  background-color: #ccc;
}

.collapse-button {
  background-color: transparent;
  border-color: transparent;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
  border-radius: 2px;
}

.collapse-button:hover {
  background-color: #ccc;
}

.collapse-button:active {
  background-color: #aaa;
}

.dialog-text {
  padding: 10px 24px;
}

.dialog-text .demo-gif {
  text-align: center;
  margin: 10px 0;
}

.dialog-text .demo-gif img {
  width: 80%;
}

.control-panel label.disabled {
  opacity: 0.4;
}
