.highlight {
  stroke: black;
  stroke-width: 3px;
}

.highlight.normal {
  fill: rgba(255, 0, 0, 0.7);
}

.highlight.tm {
  fill: rgba(255, 255, 0, 0.7);
}

.highlight.hidden {
  fill: rgba(57, 225, 241, 0.7);
}
