.tooltip {
  position: absolute;
  background-color: rgba(238, 238, 238, 0.9);
  padding: 2px;
  font-size: 10px;
  border-radius: 2px;
  font-weight: 500;
  white-space: nowrap;
  pointer-events: auto;
}

.tooltip-beak {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  margin-top: 2px;
  margin-left: calc(50% - 4px);
  border-color: rgba(238, 238, 238, 0.9) transparent transparent transparent;
}
