.trainer-name {
  font-weight: bold;
  margin-bottom: 1px;
  text-align: center;
}

.trainer-info {
  line-height: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 8px;
}

.trainer-info-section {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.trainer-info-icon {
  height: 8px;
  width: 8px;
  margin-right: 2px;
}
